@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Silkscreen:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

body {
  overflow: hidden;
  overflow-y: scroll;
}

.logo-text {
  background: linear-gradient(to righ, #34d399, #10b981);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-grad {
  background: linear-gradient(to right, #b1d400, #4a90e2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
